[Unit]
Description=Switch to performance

[Timer]
OnBootSec=10sec
OnCalendar=Mon..Fri 13:00
OnCalendar=Sat,Sun 05:00
Persistent=true

[Install]
WantedBy=timers.target
