[Unit]
Description=Switch to performance

[Service]
Type=simple
ExecStart=/bin/sh -c 'echo performance > /sys/devices/system/cpu/cpufreq/policy0/scaling_governor'

[Install]
WantedBy=default.target
